<section class="users">
  <table class="users-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Email</th>
        <% if (edit === true && users.length === 1) { %>
        <th>Ver</th>
        <% } else if (edit === false) { %>
        <th>Editar</th>
        <% } %>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      <% for(let user of users) { %>
      <tr id="user<%= user.id %>" class="user">
        <td class="user__id"><%=user.id%></td>
        <td class="user__name"><%= user.nome %></td>
        <td class="user__lastname"><%= user.sobrenome %></td>
        <td class="user__email"><%= user.email %></td>
        <% if (edit === true && users.length === 1) { %>
        <td class="user__see">
          <form action="/users/<%= user.id %>" method="GET">
            <button class="user__see--btn">Ver</button>
          </form>
        </td>
        <% } else if (edit === false) { %>
        <td class="user__edit">
          <form action="/users/<%= user.id %>" method="GET">
            <input type="hidden" name="edit" value="edit">
            <button class="user__edit--btn">Editar</button>
          </form>
        </td>
        <% } %>
        <td class="user__delete">
          <form action="/users/<%= user.id %>/delete" method="POST">
            <button class="user__delete--btn">Excluir</button>
          </form>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</section>
<% if(users && users.length === 1 && edit && edit === true) {
  user = users[0]
%>
<section id="editUserSection" class="edit-user">
  <form action="" method="POST" class="form">
    <div class="form__input-container">
      <label for="nome">Nome</label>
      <input type="text" name="nome" id="nome" required value="<%= user.nome %>">
    </div>
    <div class="form__input-container">
      <label for="sobrenome">Sobrenome</label>
      <input type="text" name="sobrenome" id="sobrenome" required value="<%= user.sobrenome %>">
    </div>
    <div class="form__input-container">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required value="<%= user.email %>">
    </div>
    <div class="form__btns">
      <button>Editar Usuário</button>
    </div>
  </form>
</section>
<% } %>